@page
@model M_Chat.UI.Pages.Cuestionarios.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Cuestionario</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cuestionario.Fecha_aplicacion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cuestionario.Fecha_aplicacion)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Cuestionario.CuestionarioId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
