<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>@ViewData["Title"] - M_Chat.UI</title>
    <link rel="icon" type="image/x-icon" href="~/assets/img/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/css/styles.css" rel="stylesheet" />
</head>
<body id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top"><img src="assets/img/navbar-logo.svg" alt="" /></a><button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">Menu<i class="fas fa-bars ml-1"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ml-auto">
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#services">Detalles</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#portfolio">General</a></li>                    
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" asp-area="" asp-page="HomePage/Create">Registrate</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" asp-area="" asp-page="Accounts/Login">Inicio de sesión</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Masthead-->
    <header class="masthead">
        <div class="container">
            @RenderBody()
        </div>
    </header>

    <!-- Services-->
    <section class="page-section" id="services">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Nuestro trabajo es...</h2>
                <h3 class="section-subheading text-muted">Un vistazo rapido de lo que queremos lograr</h3>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x"><i class="fas fa-circle fa-stack-2x text-primary"></i><i class="fas fa-user fa-stack-1x fa-inverse"></i></span>
                    <h4 class="my-3">Para las personas con T.E.A</h4>
                    <p class="text-muted">Ayudarlas a que reciban un diagnostico temprano para su pronta atencio.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x"><i class="fas fa-circle fa-stack-2x text-primary"></i><i class="fas fa-users fa-stack-1x fa-inverse"></i></span>
                    <h4 class="my-3">Para las familias</h4>
                    <p class="text-muted">Que aprendan a identidficar signos tempranos de autismo y que sepan es lo que deven de hacer para afrontarlo.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x"><i class="fas fa-circle fa-stack-2x text-primary"></i><i class="fas fa-user-plus fa-stack-1x fa-inverse"></i></span>
                    <h4 class="my-3">Para la comunidad</h4>
                    <p class="text-muted">Difusion, divulgacion y sensibilizacion acerca del autismo.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- Portfolio Grid-->
    <section class="page-section bg-light" id="portfolio">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">General</h2>
                <h3 class="section-subheading text-muted">Descubre informacion acerca de lo que nos identifica</h3>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-6 mb-4">
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="assets/img/portfolio/01-thumbnail.jpg" alt="" />
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Misíon-Visíon-Valores </div>
                            <div class="portfolio-caption-subheading text-muted">¿Que nos define?</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4">
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="assets/img/portfolio/02-thumbnail.jpg" alt="" />
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Equipo M-Chat</div>
                            <div class="portfolio-caption-subheading text-muted">¿Quienes somos?</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4">
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="assets/img/portfolio/03-thumbnail.jpg" alt="" />
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Señales de alerta</div>
                            <div class="portfolio-caption-subheading text-muted">¿Como identificarlas?</div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    
    <!-- Footer-->
    <footer class="footer py-4">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-4 text-lg-left">Copyright © M-Chat Website 2020</div>
                <div class="col-lg-4 my-3 my-lg-0">
                </div>
                <div class="col-lg-4 text-lg-right"><a class="mr-3" href="#!">Privacy Policy</a><a href="#!">Terms of Use</a></div>
            </div>
        </div>
    </footer>
    <!-- Portfolio Modals--><!-- Modal 1-->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="modal-body">
                                <!-- Project Details Go Here-->
                                <h2 class="text-uppercase">Misíon-Visíon-Valores</h2>
                                <p class="item-intro text-muted">¿Que nos define?</p>
                                <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/01-full.jpg" alt="" />
                                <p>Misíon</p>
                                <p>
                                    Promover el desarrollo integral de las personas con autismo y potenciar al máximo sus capacidades de desarrollo personal y de participación enriquecedora en la comunidad.
                                    Favorecer su integración social.
                                    Prestar a las personas con autismo una atención global, continuada, flexible, y aplicada en entorno menos restrictivo posible, a través de la creación, el desarrollo y la optimización de centros, recursos y actividades adaptadas cada una de ellas
                                </p>
                                <p>Visíon</p>
                                <p>
                                    Garantizar la atención: Garantizar la atención para una óptima calidad dirigida a personas con TEA , en todas las etapas y ámbitos de su vida, asumiendo su condición de ciudadanos de pleno derecho y desarrollando su participación en la vida comunitaria
                                    Referente para las familias: Ser la referencia de familias con hijos con autismo u otros trastornos del espectro autista
                                </p>
                                <p>Valores</p>
                                <p>
                                    Participación (Trabajo en equipo): Suma de esfuerzos compartidos entre familias, profesionales y personas con trastornos del espectro del autismo con el objetivo de desarrollar una misión común a través del compromiso activo, de la cooperación, colaboración y la implicación
                                    Espíritu reivindicativo: actitud que vela por la promoción y el cumplimiento efectivo de los derechos.
                                    Orientación a las personas: Identificación de la persona como centro de la organización y los servicios (adaptación a las capacidades, intereses y necesidades de cada individuo respetando el contexto en el que se encuentra y el interés general).
                                    Profesionalización: Promoción del desarrollo de competencias a través de la especialización y la formación continua.
                                </p>
                                
                                <button class="btn btn-primary" data-dismiss="modal" type="button"><i class="fas fa-times mr-1"></i>Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal 2-->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="modal-body">
                                <!-- Project Details Go Here-->
                                <h2 class="text-uppercase">Equipo M-Chat</h2>
                                <p class="item-intro text-muted">¿Quienes somos?</p>
                                <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/02-full.jpg" alt="" />
                                <p>
                                    El proyecto M-Chat, nace con la finalidad de mejorar la calidad de vida de las personas con trastorno del espectro autista (TEA). Entidad sin ánimo de lucro, fundada en el 2020 , con el objetivo de promover el bienestar y la calidad de vida de las personas con TEA, fomentando:

                                    Desarrollo personal
                                    Inserción laboral
                                    Integración social.
                                </p>
                                
                                <button class="btn btn-primary" data-dismiss="modal" type="button"><i class="fas fa-times mr-1"></i>Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal 3-->
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="modal-body">
                                <!-- Project Details Go Here-->
                                <h2 class="text-uppercase">Señales de alerta</h2>
                                <p class="item-intro text-muted">¿Como identificarlas?</p>
                                <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/03-full.jpg" alt="" />
                                <p>
                                    Es fundamental que el diagnóstico se realice de manera precoz y que la persona reciba una apropiada intervención temprana. Además, es vital que los recursos educativos, sanitarios y comunitarios sean los adecuados a sus necesidades individuales.
                                </p>
                                
                                <button class="btn btn-primary" data-dismiss="modal" type="button"><i class="fas fa-times mr-1"></i>Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Bootstrap core JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
    <!-- Third party plugin JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <!-- Contact form JS-->
    <script src="~/assets/mail/jqBootstrapValidation.js"></script>
    <script src="~/assets/mail/contact_me.js"></script>
    <!-- Core theme JS-->
    <script src="~/js/scripts.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
