@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="masthead-subheading">Bienvenido al cuestionario!</div>
    <div class="masthead-heading text-uppercase">Para la deteccion  de Autismo en la Infancia</div>
    <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Ver detalles</a>
</div>

